.containerPages{
  width: 100%;
  height: 50vh;
}

.pageContent {

}

@media screen and (min-width: 800px) {
  .containerPages{
    height: 70vh;
  }

  .containerText {
    flex: 2;
  }
}